<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/css/dude.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<title>allJokes</title>
</head>

<body>
	<h1>All Jokes written By <%= name %></h1>
    
    <%- tableHTML %>

	<br><a href="/">HOME</a>
	
</body>

</html>
