<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>FindAJoke</title>
	<link rel="stylesheet" href="/css/dude.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Find a joke written by a person</h1>
	<form action="/reviewJokes" method="post">
		<label>Name: <input type="name" name="name"></label>
		<br><br>
		<input type="submit" value="Submit Request"/>
		<hr>
		<a href="/">HOME</a>
	</form>
</body>

</html>
