<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Joke home</title>
	<link rel="stylesheet" href="/css/dude.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">
</head>

<body>
	<h1>Let's Write Some Jokes</h1>
	<h2>Tips</h2>

	<p>Writing great jokes involves a mix of creativity, timing, and structure. A classic joke format follows a setup and a punchline:
		<ul>
			<li>Setup  Establishes a scenario or expectation.</li>
			<li>Punchline Delivers an unexpected twist or surprise</li>
		</ul>
	</p>
	<hr>
	<h2>Applications</h2>
	
	<ul>
		<li>To add a joke <a href="/apply">Application</a></li>
		<li>To find one of your jokes<a href="/reviewJokes">Your Jokes</a></li>
	</ul>
	<hr>

	<h2>Find Some Jokes</h2>
	<ul>
		<li>To get a random joke <a href="/randomJoke">Random</a></li>
	</ul>
	<hr>
</body>

</html>
