<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>joke</title>
    <link rel="stylesheet" href="/css/dude.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" >
</head>

<body>
    <h1>Jokey Jokey</h1>
    <div>
        <strong>Type: </strong> <%=type%> <br>
        <strong>SetUp: </strong><%=setup%> <br>
        <strong>Punchline: </strong><%=punchline%><br>
        <hr>
        <a href="/">HOME</a>
    </div>
</body>
</html>