<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>random joke</title>
	<link rel="stylesheet" href="/css/dude.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">

<body>
	<h1>Generate a Random Joke</h1>
	<form action="/randomJoke" method="post">
		<input type="submit" value="Submit Request"/>
		<hr>
		<a href="/">HOME</a>
	</form>
</body>

</html>